.warningWrapper {
  position: absolute;
}

.warningIcon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f0ad4e;
  cursor: pointer;
}

.bottomLeft {
  bottom: -2px;
  left: -12px;
}
