{% assign icon_color = iconColor | default: 'rgba(4, 123, 93, 1)' %}

<button class="emtlkit--magic-icon emtlkit--d-flex emtlkit--flex-center" style="--icon-color: {{ icon_color }}">
  {{ magic_ai_icon }}
</button>
