<div>
  <style>
    .emtlkit--placeholder {
      display: flex !important;
      gap: 10px !important;
      align-items: flex-start !important;
      margin: 15px 0 !important;
      padding: 6px 12px !important;
      border-radius: 10px !important;
      background: #ffffff !important;
      border: 1px solid #c9c9c9 !important;
    }

    .emtlkit--placeholder-icon {
      padding: 4px !important;
      display: flex !important;
      border-radius: 8px !important;
      align-items: center !important;
    }

    .emtlkit--placeholder-text {
      color: #303030 !important;
    }
  </style>
  <div class='emtlkit--placeholder'>
    <div class='emtlkit--placeholder-icon'>
      <svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 20 20' fill='none'>
        <!-- Background circle -->
        <circle cx="10" cy="10" r="8.5" fill="#60A5FA"/>
        <!-- Letter "i" dot -->
        <circle cx="10" cy="7" r="1.2" fill="#FFFFFF"/>
        <!-- Letter "i" stem -->
        <rect x="9" y="9" width="2" height="6" rx="1" fill="#FFFFFF"/>
      </svg>
    </div>
    <span class='emtlkit--placeholder-text'>
      TailorKit Product Personalizer only appears on products with integrated templates.
    </span>
  </div>
</div>
