/* In Remix - simply import this file from within RichTextEditor.jsx */
/* In Next.js - import this file from within /pages/_app.tsx */

/* In Remix - you may want to put this 1 style into a global CSS file or in a separate CSS file
imported to the file referencing the RTE component, so it can also be applied to the ClientOnly fallback.
See the Remix usage example to see how this might be used */
.text-editor {
  width: 1086px;
  margin: 0 auto;
}
.ql-editor {
  min-height: 100px;
}

.quill {
  /* background-color: var(--p-color-input-bg-surface);
  border: var(--p-border-width-0165) solid var(--p-color-input-border);
  border-top-color: #898f94;
  /* margin-bottom: 3px; */

  border-radius: var(--p-border-radius-200);
  background-color: var(--p-color-bg-surface);
}

.quill--disabled {
  color: var(--p-color-text-disabled);
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
}

.quill .ql-toolbar.ql-snow {
  border: var(--p-border-width-0165) solid var(--p-color-input-border);
  border-radius: var(--p-border-radius-200);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: #ccc;
  border-bottom: 0px;
}

.quill .ql-container.ql-snow {
  /* border: none; */
  border: var(--p-border-width-0165) solid var(--p-color-input-border);
  border-radius: var(--p-border-radius-200);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-color: #ccc;
  font-family: var(--p-font-family-sans);
}

.quill .ql-container.ql-snow .ql-editor {
  min-height: 150px;
  max-height: 400px;
}

.quill--disabled .ql-toolbar .ql-stroke {
  fill: none !important;
  stroke: #aaa !important;
}

.quill--disabled .ql-toolbar .ql-fill {
  fill: #aaa !important;
  stroke: none !important;
}

.quill--disabled .ql-toolbar .ql-picker {
  color: #aaa !important;
}

.quill--error {
  border: var(--p-border-width-0165) solid var(--p-color-border-critical-secondary);
  background-color: var(--p-color-bg-surface-critical);
}

.quill .ql-editor.ql-blank::before {
  font-style: normal;
}

.quill--disabled .ql-editor.ql-blank::before {
  color: var(--p-color-text-disabled);
}

.ql-snow .ql-formats {
  display: inline-flex !important;
  margin-right: 0 !important;
}

.ql-snow .ql-formats.ql-formats-divider {
  border-right: 1px solid #ccc !important;
  margin-right: 4px !important;
  padding-right: 4px !important;
  height: 100% !important;
}

.ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
  background: none !important;
  border: none !important;
  cursor: pointer !important;
  display: flex !important;
  width: fit-content !important;
  float: none !important;
}

.ql-snow .ql-picker-label {
  padding: 1px 3px !important;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  border-radius: var(--p-border-radius-100) !important;
}
